async-timeout==2.0.1
blurhash==1.1.4
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
dnspython==1.16.0
icalendar==4.0.6
idna==2.10
imutils==0.5.3
kiwisolver==1.1.0
Mastodon.py==1.5.1
matplotlib==3.0.3
numpy==1.18.5
opencv-python==4.3.0.36
Pillow==7.2.0
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
pytesseract==0.3.4
python-dateutil==2.8.1
python-dotenv==0.14.0
python-magic==0.4.18
pytz==2020.1
requests==2.24.0
schedule==0.6.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
